<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{% block title %}{% endblock %}</title>
<meta name="keywords" content="{% block keywords %}{% endblock %}" />
<meta name="description" content="{% block desc %}{% endblock %}" />
<link href="/static/skin/jiyouhui/css/base.css" rel="stylesheet">
<link href="/static/skin/jiyouhui/css/index.css" rel="stylesheet">
{% block css %}{% endblock %}
<script src="/static/skin/jiyouhui/js/myfocus-2.0.4.min.js"></script>
<!--[if lt IE 9]>
<script src="http://www.jiyouh.com/skin/jiyouhui/js/modernizr.js"></script>
<![endif]-->

</head>
<body>
<!--顶部以及导航条-->
{% include './blog/include/nav.html' %}

</header>


<!--文章与侧边的东西-->
{% block main %}{% endblock %}


{% include './blog/include/foot.html' %}
</body>
</html>
