{% extends "./blog/base.html" %}
{% block title %}{{ category_title }}_{{ website_welcome }}{% endblock %}
{% block keywords %}{{ category_title }}{% endblock %}
{% block desc %}{{ category_desc }}{% endblock %}

{% block main %}
<article>
<!--最新文章列表-->
  <div class="l_box f_l">
    <div class="blank"></div>

    <div class="topnews">
 <h3>您现在的位置是：<a href="/">首页</a>&nbsp;>&nbsp;
          <a href="{{ article.category.get_absolute_url }}">{{ category_title}}</a>
         <h2><b>{{ category_title }}</b></h2>
        <!--首页列表文章-->
      {% for post in article_list %}
          {% include "./blog/include/home_post.html" %}
      {% endfor %}
    </div>

      <!--分页-->
            {% if page_obj%}
            {% include './blog/include/page.html' %}
            {% endif %}
    </div>

<!-- 右边侧栏管理 -->
  <div class="r_box f_r">
    {% include './blog/widgets/about_us.html' %}  <!--关注我们-->
    <div class="ad"></div>

    {% include './blog/widgets/liebiao.html' %}   <!--列表切换-->
    {% include './blog/widgets/tags.html' %}         <!--标签云-->
    {% include './blog/widgets/host_wenzhang.html' %}  <!--热门文章-->
  <div>

  </div>
  </div>
</article>

{% endblock %}