<footer>
  <div class="endfoot">
    <div class="ft-info f_l">
      <div class="ftlogo"></div>
      <div class="ft-title">

      </div>
    </div>
    <div class="ft-list f_r">
       <div class="ft-shares">
         <a class="shares-sina" title="邮箱" href="#" target="_blank"></a>
         <a class="shares-ten" title="腾讯微博" href="#" target="_blank"></a>
          <a class="shares-dib" title="新浪微博" href="#" target="_blank"></a>
      </div>
      <div class="ft-nav">

          <!-- 次导航 和 版权 -->
          <a href="#" target="_blank">关于我们</a>
          <a href="#" target="_blank">联系我们</a>
          <a href="/sitemap.xml" target="_blank">网站地图</a>
          <a href="#" id="qaurl">广告合作</a>
          <a href="#" target="_blank">投稿通道</a> </div>
        <p class="ft-copyright"> Copyright 2016 技术支持：<a href="/" target="_blank">{{ website_welcome }}</a></p>
        <!--次导航结束-->


    </div>
  </div>
</footer>